.navbar {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.navbar {
  font-size: 1.2rem; /* Adjust this value to your preference */
  padding: 1rem 0.5rem; /* Adjust this value to your preference */
}